extend base

block content 
 .moretaskBack
     .moreOuter
     .moretasksArea
        .moretasktxt 
         p TEAM SAST dare you to solve some extra tasks! ;)
        
        .btnclass
          .mbtn-group
           button.noDec( "/" target="blank")  Task One
           button.noDec( "/" target="blank")  Task Two
           button.noDec( "/" target="blank")  Task Three
           button.noDec( "/" target="blank")  Task Four
           button.noDec( "/" target="blank")  Task Five 
        