extends base

block content 
 div 
 .passbackground 
 .myspace 
 .passwarea 
  .passtext 
   p Change your Password
  .passwidth 
   form 
    input#resetPassword-New( type='password' name='pwd' placeholder='New Password')
    input#resetPassword-Confirm( type='password' name='pwd' placeholder='Confirm Password')
    button#resetPassword-btn Change Password
    