extends base
block content 
  .outerone
    .div-login
     .mydiv
      img.div-login-logo( src="/images/Sast white.png" alt="Sast Logo" )
                
     div
      form#login-form
       input#login-form-email(type='email' name='email' placeholder='Email'  )
       input#login-form-password(type='password' name='pwd' placeholder='Password'  )
       button#btn-signin Login here
       div                 
        a.forgot(href="/forgotPassword") Forgot your email or password?
                        
       button
        a.signupbtn(href="/signup" ) Free Signup Here!
                    