extends base

block content 
 div 
 .passbackground 
 .myspace 
 .passwarea 
  .passtext 
   p Change your Password
  .passwidth 
   form 
    input#updatePassword-Current( type='password' name='pwd' placeholder='Current Password')
    input#updatePassword-New( type='password' name='pwd' placeholder='New Password')
    input#updatePassword-Confirm( type='password' name='pwd' placeholder='Again New Password')
    button#updatePassword-btn Change Password
    